.main {
    position: absolute;
    left: 0;
    top: var(--navbar-height);
    min-height: calc(100vh - var(--navbar-height));
    width: 100%;
}

.portfolio-section {
    min-height: 100vh;
    width: 100%;
}

.portfolio-section[id="home-section"] {
    height: calc(100vh - var(--navbar-height));
}