.main {
    position: absolute;
    left: 0;
    top: var(--navbar-height);
    min-height: calc(100vh - var(--navbar-height));
    width: 100%;
}

.portfolio-section {
    min-height: calc(100vh - var(--navbar-height));
    width: 100%;
    scroll-margin-top: var(--navbar-height);
}

.portfolio-section.light-mode {
    background: var(--background-light-color);
}
.portfolio-section.dark-mode {
    background: var(--background-dark-color);
}