#home-section {
    display: flex;
    justify-content: center;
    align-items: center;
}

#home-section-content {
    width: 90%;
    max-width: 1000px;
}

#home-section-title {
    font-size: var(--home-section-title-size);
}