/* Fonts */
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300;400;600;700&display=swap");

/* Variables used throughout whole application */
:root {
    /* Navigation bar */
    --navbar-color: #193a58;
    --navbar-height: 70px;
    --navbar-highlighted-color: #f3f3f3; /* highlights current section in navbar */
    --navbar-text-color: #f3f3f3;
    --navbar-text-hover-color: #d3d3d3;
    --navbar-text-font: "Source Sans Pro";
    --navbar-text-size: calc(1.15rem + 0.2vw);
    --sidebar-color: #c3ddf3;

    /* Highlights */
    --highlight-color: #58a4dd; /* similar to navbar color, for small details throughout site */
    --light-highlight-color: #8fc5f4;
    --lightest-highlight-color: #aad1f1;

    /* Portfolio Page */
    --background-dark-color: linear-gradient(to bottom right, #262626, #202020);
    --background-light-color: linear-gradient(
        to bottom right,
        #f6f6f6,
        #f1f1f1
    );
    --text-dark-color: #111;
    --text-light-color: #f3f3f3;

    --section-title-font: "Source Sans Pro";
    --section-description-font: "Source Sans Pro";
    --home-section-title-size: calc(2.4rem + 1.7vw);

    --button-font: "Source Sans Pro";

    --about-section-skill-font-size: calc(2.8rem + 2.1vw);
    --about-section-skill-padding: 8px;
}
