/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');

/* Variables used throughout whole application */
:root {

    /* Navigation bar */
    --navbar-color: #fdc24b;
    --navbar-height: 70px;
    --navbar-highlighted-color: #eeeeee; /* highlights current section in navbar */
    --navbar-text-color: #0e0e0e;
    --navbar-text-font: Lato;
    --navbar-text-size: calc(1.05rem + 0.2vw);

    /* Highlights */
    --highlight-color: #ffba2f; /* similar to navbar color, for small details throughout site */

    /* Portfolio Page */
    --background-dark-color: linear-gradient(to bottom right, #262626, #202020);
    --background-light-color: linear-gradient(to bottom right, #f4f4f4, #ddd);
}