#projects-section {
    padding-bottom: 130px;
    padding-top: 40px;
}

.projects-section-title {
    font-size: calc(2rem + 1.4vw);
    position: relative;
    width: max-content;
    margin: 0 auto;
}

.projects-section-title::after, .projects-section-title::before {
    content: "";
    position: absolute;
    width: calc(20px + 2vw);
    height: 1.5px;
    background-color: var(--text-dark-color);
    top: 52%;
    translate: 0 -50%;
}

.projects-section-title::before {
    right: calc(-45px - 2vw);;
}

.projects-section-title::after {
    left: calc(-45px - 2vw);
}

#projects-section-projects-wrapper {
    width: 95%;
    margin: 0 auto;
    margin-top: 50px;

    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    row-gap: calc(20px + 2.5vw);
}