#about-section {
    padding-bottom: 130px;
    padding-top: calc(40px + 1.5vw);
}

.about-section-title {
    font-size: calc(2rem + 1.4vw);
    position: relative;
    width: max-content;
    margin: 0 auto;
}

.about-section-title:not(:first-of-type) {
    margin-top: 60px;
}

.about-section-title::after, .about-section-title::before {
    content: "";
    position: absolute;
    width: calc(20px + 2vw);
    height: 1.5px;
    background-color: var(--text-light-color);
    top: 52%;
    translate: 0 -50%;
}

.about-section-title::before {
    right: calc(-45px - 2vw);;
}

.about-section-title::after {
    left: calc(-45px - 2vw);
}

#about-section-description {
    font-size: calc(0.9rem + 0.45vw);
    width: 80ch;
    max-width: 85%;
    font-weight: 300;
    margin-top: 20px;
}

#download-cv-button {
    font-family: var(--button-font);
    font-weight: 600;
    font-size: calc(1.1rem + 0.85vw);
    text-transform: uppercase;
    letter-spacing: 2px;
    width: calc(220px + 10vw);
    height: calc(80px + 1vw);
    margin: 0 auto;
    margin-top: 35px;
    
    background-color: transparent;
    color: var(--text-light-color);
    text-decoration: none;
    border: 2.5px solid var(--highlight-color);
    border-radius: 40px;
    position: relative;
    
    display: block;
}

#download-cv-button > * {
    position: absolute;
    translate: -50% -50%;
    top: 50%;
}

#download-cv-button > i {
    font-size: calc(1.5rem + 0.9vw);
    left: calc(18% - 4px);
    
    transition: font-size 100ms ease, left 300ms ease, color 300ms ease;
}

@keyframes fade-cv-btn-text {
    0%, 80% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

#download-cv-button > p {
    right: calc(-15% - 14px);
}

.about-section-subtitle {
    font-size: calc(1.2rem + 1vw);
    width: max-content;
    margin: 0 auto;
    margin-top: 50px;
}

.about-section-skills-wrapper {
    margin: 0 auto;
    margin-top: 20px;
    width: 90%;
    max-width: 1000px;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: calc(10px + 1.5vw);
}

.about-section-skill {
    border: calc(1px + 0.1vw) solid var(--text-light-color);
    border-radius: 10px;
    padding: var(--about-section-skill-padding);
    padding-bottom: 5.5px;
    position: relative;
}

.about-section-skill > i {
    font-size: var(--about-section-skill-font-size);
}

.about-section-skill::after {
    position: absolute;
    translate: -50% -50%;
    top: 50%;
    left: 50%;
    opacity: 0;
    scale: 0;
    transition: opacity 300ms ease, scale 200ms ease;
    font-family: "Source Sans Pro";
    text-transform: uppercase;
    font-weight: 800;
    white-space: nowrap;
    letter-spacing: 1px;
    font-size: calc(0.7rem + 0.5vw);
    background-color: var(--navbar-color);
    color: var(--text-dark-color);
    padding: 2px;
    border-radius: 5px;
}

.about-section-skill:hover::after {
    opacity: 1;
    scale: 1;
}

.non-devicon-skill {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    font-size: var(--about-section-skill-font-size);
    padding: var(--about-section-skill-padding);
    position: relative;
}

.non-devicon-skill .non-devicon-icon {
    width: 1em; 
    height: 1em; 
    object-fit: contain;      
}