.navbar {
    position: fixed;
    z-index: 99;
    width: 100vw;
    height: var(--navbar-height);
    background-color: var(--navbar-color);

    display: flex;
    justify-content: center;
    column-gap: calc(30px + 5vw);
    align-items: center;
}

.navbar .navbar-item {
    color: var(--navbar-text-color);
    text-decoration: none;
    font-family: var(--navbar-text-font);
    font-size: var(--navbar-text-size);
    font-weight: 800;
    padding: 10px 15px;
    user-select: none;
    z-index: 99;

    transition: color 200ms ease;
}

.navbar .navbar-item:hover {
    cursor: pointer;
    color: var(--navbar-text-hover-color);
}

.navbar #navbar-highlighter {
    position: absolute;
    height: var(--navbar-text-size);
    top: 50%;
    translate: 0 -50%;
    background-color: var(--navbar-highlighted-color);
    border-radius: 12px;
    padding: 23px;

    transition: left 500ms ease, width 500ms ease;
}