.project-navbar {
    width: 100%;
    height: var(--navbar-height);
    background-color: var(--navbar-color);
    position: fixed;
    top: 0;
    left: 0;
    padding-top: 5px;

    display: flex;
    justify-content: center;
    align-items: center;
}

.project-navbar > * {
    text-decoration: none;
    text-align: center;
}

.project-navbar > a {
    color: var(--text-dark-color);
    padding: 0 10px;
    transition: color 200ms ease;
}

.project-navbar > a:hover {
    color: #222;
}

.fa-house-chimney {
    font-size: calc(2rem + 0.3vw);
}

.project-navbar p {
    font-size: 1rem;
    font-family: "Source Sans Pro";
    font-weight: 600;
}