@import "tailwindcss";

:root {
    /* Global Styles */
    box-sizing: border-box;
    scroll-behavior: smooth;

    /* Variables */
    --navbar-height: 4.5rem;
}

body {
    @apply bg-page-bg;
}

main {
    @apply mt-navbar-height mx-auto flex max-w-220 flex-col gap-16 px-4 py-20 sm:gap-20 sm:px-8 sm:py-32;
}

/* Markdown Conversion Styling */
.blog-post-markdown h1 {
    @apply text-text-primary mb-3 text-2xl font-medium sm:text-3xl;
}
.blog-post-markdown h2 {
    @apply text-text-primary mb-2.5 text-xl font-medium sm:text-2xl;
}
.blog-post-markdown h3 {
    @apply text-text-primary mb-2 text-lg sm:text-xl;
}
.blog-post-markdown h4 {
    @apply text-text-primary mb-2 text-base sm:text-lg;
}
.blog-post-markdown p {
    @apply text-text-secondary mb-2 text-justify text-xs leading-5.25 sm:text-sm;
}
.blog-post-markdown a {
    @apply text-text-primary hover:text-highlight font-medium underline transition-colors duration-200;
}
.blog-post-markdown ul {
    @apply text-text-secondary my-3 ml-10 flex list-disc flex-col gap-2 text-xs leading-5.25 sm:text-sm;
}
.blog-post-markdown ol {
    @apply text-text-secondary my-3 ml-10 flex list-decimal flex-col gap-2 text-xs leading-5.25 sm:text-sm;
}
.blog-post-markdown hr {
    @apply text-layout-border my-3;
}
.blog-post-markdown code {
    @apply text-text-primary;
}

/* Material Icon Sizes */
.material-symbols-outlined.text-xs {
    font-size: 18px;
}
.material-symbols-outlined.text-sm {
    font-size: 20px;
}
.material-symbols-outlined.text-lg {
    font-size: 28px;
}
.material-symbols-outlined.text-xl {
    font-size: 36px;
}

#projects,
#work,
#blogs,
.blog-post-markdown {
    scroll-margin-top: calc(var(--navbar-height) + 24px);
}

@theme {
    /* -- Fonts -- */
    --font-primary: "Montserrat", sans-serif;

    /* -- Colors -- */
    /* Page + Surfaces */
    --color-page-bg: #0f1115;
    --color-navbar-bg: #151821;
    --color-card-bg: #0c0e12;
    --color-card-border: #191919;
    --color-card-border-hover: #313131;
    --color-card-fg: #e5e7eb;

    /* Text */
    --color-text-primary: #f5f7fa;
    --color-text-secondary: #9ca3af;

    /* Highlight */
    --color-highlight: #3ba6f6;
    --color-highlight-soft: #7cc8ff;

    /* Buttons */
    --color-button-primary: #3ba6f6;
    --color-button-primary-hover: #1f8fe3;
    --color-button-secondary: #bbb;
    --color-button-secondary-hover: #3ba6f6;

    /* Buttons Text */
    --color-button-primary-text: #1a1d23;
    --color-button-primary-text-hover: #ffffff;
    --color-button-secondary-text: #bbb;
    --color-button-secondary-text-hover: #3ba6f6;

    /* UI */
    --color-layout-border: #1a1e26;

    /* -- Sizes -- */
    --height-navbar-height: var(--navbar-height);
    --margin-navbar-height: var(--navbar-height);
}
