@import "tailwindcss";

:root {
    /* Global Styles */
    box-sizing: border-box;
    scroll-behavior: smooth;

    /* Variables */
    --navbar-height: 4.5rem;
}

body {
    @apply bg-page-bg;
}

main {
    @apply mt-navbar-height mx-auto max-w-250 px-2 py-6 sm:px-4 sm:py-12;
}

/* Material Icon Sizes */
.material-symbols-outlined.text-xs {
    font-size: 18px;
}
.material-symbols-outlined.text-sm {
    font-size: 20px;
}
.material-symbols-outlined.text-lg {
    font-size: 36px;
}
.material-symbols-outlined.text-xl {
    font-size: 48px;
}

#work {
    scroll-margin-top: var(--navbar-height);
}

@theme {
    /* -- Fonts -- */
    --font-primary: "Montserrat", sans-serif;

    /* -- Colors -- */
    /* Page + Surfaces */
    --color-page-bg: #0f1115;
    --color-card-bg: #1a1d23;
    --color-card-fg: #e5e7eb;

    /* Text */
    --color-text-primary: #f5f7fa;
    --color-text-secondary: #9ca3af;

    /* Highlight */
    --color-highlight: #3ba6f6;
    --color-highlight-soft: #7cc8ff;

    /* Buttons */
    --color-button-primary: #3ba6f6;
    --color-button-primary-hover: #1f8fe3;
    --color-button-secondary: #ffffff;
    --color-button-secondary-hover: #e5e7eb;

    /* Buttons Text */
    --color-button-primary-text: #1a1d23;
    --color-button-primary-text-hover: #ffffff;
    --color-button-secondary-text: #ffffff;
    --color-button-secondary-text-hover: #f5f7fa;

    /* UI */
    --color-layout-border: #1a1e26;

    /* -- Sizes -- */
    --height-navbar-height: var(--navbar-height);
    --margin-navbar-height: var(--navbar-height);
}
