.project-not-found {
    text-align: center;
    font-size: 2.6rem;
    font-family: "Source Sans Pro";
}

body {
    background: var(--background-light-color);
}

.project-page-sidebar {
    width: 350px;
    top: var(--navbar-height);
    height: calc(100vh - var(--navbar-height));
    position: fixed;
    background-color: var(--sidebar-color);
    box-shadow: inset 0 4px 6px rgba(0, 0, 0, 0.1);
    z-index: 999;
    display: flex;
    flex-direction: column;
    font-family: "Source Sans Pro";
    padding: 16px 8px;
    gap: 12px;
    overflow-y: scroll;
}

.project-page-sidebar-title {
    font-weight: 800;
    font-size: 16px;
    text-align: center;
    text-transform: uppercase;
}

.project-page-sidebar > a {
    min-height: 48px;
    max-height: 48px;
    width: 100%;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 200ms;
    text-decoration: none;
    color: var(--text-dark-color);
    font-weight: 500;
    font-size: 18px;
    border-radius: 12px;
}

.project-page-sidebar > a:hover {
    background-color: var(--lightest-highlight-color);
}

.project-page-sidebar > a[active="true"] {
    background: var(--light-highlight-color);
    box-shadow: 0 -4px 6px rgba(0, 0, 0, 0.1), 0 4px 6px rgba(0, 0, 0, 0.1);
    font-weight: 600;
}

.project-content {
    text-align: left;
    font-family: "Source Sans Pro";
    display: flex;
    flex-direction: column;
    justify-content: start;
    padding: 0px 32px 32px 32px;
    margin-left: 350px;
}

.project-page-title,
.project-page-subtitle {
    text-transform: uppercase;
    font-weight: 800;
}

.project-page-title {
    font-size: calc(1.95rem + 1.35vw);
    letter-spacing: 2px;
    margin-top: 40px;
    margin-bottom: 8px;
}

.project-page-links {
    width: max-content;
    background-color: #dcdcdc;
    padding: calc(12px - 0.1vw) calc(17px - 0.15vw);
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: start;
    gap: 20px;
}

.project-page-links > a {
    color: inherit;
    text-decoration: none;
    font-size: calc(1.9rem + 0.1vw);
    transition: scale 100ms ease, color 200ms ease;
}

.project-page-links > a:hover {
    cursor: pointer;
    color: var(--highlight-color);
    scale: 1.05;
}

.project-page-subtitle {
    letter-spacing: 1px;
    font-size: calc(1.2rem + 0.7vw);
    margin-top: 40px;
    margin-bottom: 8px;
}

.project-page-technologies {
    width: 90%;
    max-width: 800px;
    display: flex;
    flex-wrap: wrap;
    justify-content: start;
    gap: calc(10px + 0.1vw);
}

.project-page-technology {
    background: var(--light-highlight-color);
    color: var(--text-dark-color);
    letter-spacing: 1px;
    font-family: Lato;
    padding: 9px 17px;
    border-radius: 30px;
    user-select: none;
    font-size: calc(0.95rem + 0.1vw);
    font-weight: 600;
}

.project-page-about {
    font-family: Lato;
    font-size: calc(0.95rem + 0.1vw);
    width: 90%;
    font-weight: 200;
    color: #1a1a1a;
    line-height: calc(1.3rem + 0.2vw);
}

.project-page-about > a {
    color: var(--highlight-color);
    font-weight: 800;
}

.project-page-images {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-auto-rows: max-content;
    gap: 20px;
    width: 100%;
}

.project-page-image > img {
    width: 100%;
    border-radius: 8px;
    display: block;
}

.project-page-image {
    width: 100%;
    box-shadow: 0 0 8px 2px rgba(0, 0, 0, 0.15);
    border-radius: 8px;
    height: max-content;
    overflow: hidden;
}

@media (max-width: 1280px) and (min-width: 1152px) {
    .project-page-images {
        grid-template-columns: 1fr;
    }
}

@media (max-width: 1152px) {
    .project-page {
        display: flex;
        flex-direction: column-reverse;
    }
    .project-page-sidebar {
        position: static;
        height: max-content;
        width: 100vw;
        overflow-y: hidden;
    }
    .project-content {
        margin-left: 0px;
    }
}

@media (max-width: 880px) {
    .project-page-images {
        grid-template-columns: 1fr;
    }
}

@media (max-width: 768px) {
    .project-content {
        padding: 0px 16px 32px 16px;
        justify-content: center;
        text-align: center;
    }
    .project-page-about {
        margin: 0 auto;
    }
    .project-page-links {
        justify-content: center;
        margin: 0 auto;
    }
    .project-page-technologies {
        justify-content: center;
        margin: 0 auto;
    }
}
